footer.container.py-5
	.row
		.col-md-6
			nav.nav.justify-center-center.justify-content-md-start
				a(href="/nosotros", class="nav-link") Nosotros
				a(href="/viajes", class="nav-link") Viaje
				a(href="/testimoniales", class="nav-link") testimoniales
		.col-md-6
			p.copyright.text-center.text-md-rigth
			| Todos los Derechos Reservados

