extends ../layout/index
block contenido
	main.container.mt-5
		.row
			.col-md-5
				img.img-fluid(src="img/nosotros.jpg", alt="Imagen de nostros")
			.col-md-7
				h1 #{pagina}
				blockquote Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis ut nisi risus. Mauris semper nunc ac congue porta. Phasellus a diam ut odio dictum ullamcorper. Donec tincidunt efficitur tortor, at eleifend elit pretium semper. Ut lacinia egestas rhoncus. Suspendisse potenti. Vestibulum ante ipsum primis in faucibus orci luctus
				p Phasellus at massa eu lorem porttitor venenatis ac in risus. Fusce malesuada turpis mollis, dictum lectus at, ornare diam. Suspendisse iaculis lacus eu est ultricies, eget egestas quam fermentum. Vivamus vitae est a leo fermentum volutpat. Donec elementum consequat lacus ac tempor. Suspendisse eget odio 
				p Phasellus at massa eu lorem porttitor venenatis ac in risus. Fusce malesuada turpis mollis, dictum lectus at, ornare diam. Suspendisse iaculis lacus eu est ultricies, eget
	.listado-iconos
		.container.mt-5.py-5text-center
			.row
				.col-md-4
					img(src="img/icono_seguridad.svg", class="img-fluid mb-4")
					h2.mb-4 Seguiridad
					p Phasellus at massa eu lorem porttitor venenatis ac in risus. Fusce malesuada turpis mollis, dictum lectus at, ornare diam. Suspendisse iaculis lacus eu est ultricies, eget Phasellus at massa eu lorem porttitor venenatis ac in risus. Fusce malesuada turpis mollis, dictum lectus at, ornare diam. Suspendisse iaculis lacus eu est ultricies, eget
				.col-md-4
					img(src="img/icono_destinos.svg", class="img-fluid mb-4")
					h2.mb-4 Mejores Destinos
					p Phasellus at massa eu lorem porttitor venenatis ac in risus. Fusce malesuada turpis mollis, dictum lectus at, ornare diam. Suspendisse iaculis lacus eu est ultricies, eget Phasellus at massa eu lorem porttitor venenatis ac in risus. Fusce malesuada turpis mollis, dictum lectus at, ornare diam. Suspendisse iaculis lacus eu est ultricies, eget
				.col-md-4
					img(src="img/icono_precios.svg", class="img-fluid mb-4")
					h2.mb-4 Mejor Precios
					p Phasellus at massa eu lorem porttitor venenatis ac in risus. Fusce malesuada turpis mollis, dictum lectus at, ornare diam. Suspendisse iaculis lacus eu est ultricies, eget Phasellus at massa eu lorem porttitor venenatis ac in risus. Fusce malesuada turpis mollis, dictum lectus at, ornare diam. Suspendisse iaculis lacus eu est ultricies, eget

 
